

$web-background-color: #e6e6e6;
$background-color: #474747;

$accent: #98daff;
$error: #f86f75;


$text-primary: #e0e0e0;
$text-secondary: #b0bec5;
$text-accent: #bb86fc;

$default-border: $background-color 1px solid;
$default-shadow: 0 3px 2px rgba(0, 0, 0, 0.219); 
$light-shadow: 0 1px 1px rgba(0, 0, 0, 0.219); 