<mat-toolbar color="primary" class="nav">
    <span class="nav-item right" (click)="navigateToMain()" style="cursor: pointer;">
        <span class="nav-title">MyMovieList</span>
    </span>
    <span class="spacer"></span>
    <span class="nav-item left">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </span>

</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToTopSeries()">
        <span>Top Movies</span>
    </button>

    @if (id === null || id === undefined || id === '') {
        <button mat-menu-item (click)="navigateToSignIn()">
          <span>Sign In</span>
        </button>

        <button mat-menu-item (click)="navigateToSignUp()">
            <span>Sign Up</span>
        </button>
    } @else {
        <button mat-menu-item (click)="navigateToCreateGroup()">
            <span>Create Movie</span>
        </button>

        <button mat-menu-item (click)="navigateToYourPage()">
            <span>Your Profile</span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="groups">
            <span>Your Groups</span>
        </button>

        <mat-menu #groups="matMenu">
            @if (groupsUser.groups.length === 0) {
                <button mat-menu-item disabled>You don't have any group</button>
            } @else {
                @for(group of groupsUser.groups; track $index) {
                    <button mat-menu-item (click)="navigateToGroup(group.id)">{{group.name}}</button>
                }
            }
          </mat-menu>

        <button mat-menu-item (click)="signOut()">
            <span>Sign Out</span>
        </button>
    }

</mat-menu>

  